/* Place CSS styles here */
body {
  background-color: beige;
}

h2 {
  color: #5d7971;
}

h3 {
  color:#8eaeae
}

.uglybutton {
  color: orange;
}

#container {
  color: purple;
}

.container {
  width: 1650px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.container-wrapper {
  background-color: #ffffff;
}

.button {
  background-color: #96b8b0;
  color: #efefef;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: #eaebad;
}

.button:focus {
  border: 1px solid #d3d136;
}
}

/* HEADER STYLES */
.main-header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.main-nav .button {
  margin-right: 8px;
}

/* START HOMEPAGE STYLES */

/* END HOMEPAGE STYLES */

/* START ABOUT STYLES */
.about-wrapper {

}

.about-featured-items {
  display: flex;
}

.about-featured-item {
  margin-right: 4px;
  border: 1px solid black;
}
/* END ABOUT STYLES */

.items {
  width:445px;
  margin-right:10px;
}

/* team section */
#team {
  text-align: center;
}
#team h3 {
  font-size: 18px;
  line-height: 4px;
}
#team h4 {
  color: #5C5C5C;
  padding-top: 24px;
}
#team .col-md-4 {
 padding-top: 42px;
}